// Colors
$clr1: #1b2330;
$clr2: #ffffff;
$clr3: #62e0d9;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1300px;